{% extends "base.html" %}
{% block content %}

<div id="customAlert" class="alert fade-in" style="background-color: rgba(219, 66, 66, 0.38); border: 1px solid #DB4242;">
    <span class="discou">Password and confirm password do not match!</span>
  </div>

   <section>
     <div class="form-main-div">
        <div class="wrapper">
            <h1 class="main-title">Sign UP</h1>    
            &nbsp;
            <form method="post">
                {% csrf_token %}
                <div class="field name">
                    <div class="input-area">
                        <i class="fa-solid fa-user" style="color: #000000;"></i>                        
                        <input type="text" placeholder="Name" name="name" id="name" value="" required="">
                    </div>
                </div>
                <div class="field email">
                    <div class="input-area">
                        <i class="fa-solid fa-envelope" style="color: #000000;"></i>
                        <input type="email" placeholder="Email Address" name="email" id="email" value="" required="">
                    </div>
                </div>
                <div class="field number">
                    <div class="input-area">
                        <i class="fa-solid fa-phone" style="color: #000000;"></i>
                        <input type="tel" placeholder="Mobile Number"  pattern="[0-9]{10}" inputmode="numeric" name="mobileNumber" id="mobileNumber" value="" required="">
                    </div>
                </div>
                <div class="field confirmPassword">
                    <div class="input-area">
                     <i class="fa-solid fa-lock" style="color: #000000;"></i>
                     <input type="password" placeholder="confirm Password" name="confirmPassword" id="confirmPassword" value="" required="">
                     <i class="fa-solid fa-eye fa-sm" id="showConfrimPassword" style="color: #000000;"></i>
                     <i class="fa-sharp fa-solid fa-eye-slash" id="hideConfrimPassword" style="color: #000000;"></i>
                    </div>
                </div>
                <div class="field password">
                    <div class="input-area">
                     <i class="fa-solid fa-lock" style="color: #000000;"></i>
                     <input type="password" placeholder="Password" name="password" id="password" value="" required="">
                     <i class="fa-solid fa-eye fa-sm" id="showPassword" style="color: #000000;"></i>
                     <i class="fa-sharp fa-solid fa-eye-slash" id="hidePassword" style="color: #000000;"></i>
                    </div>
                </div>
                &nbsp;
                <input type="submit" value="sign up"> 
                &nbsp;   
                <div class="sign-txt">You have already account? <a href="/login" id="login">Sign in</a></div>
            </form>    
        </div>    
     </div>
   </section>
   <script>
    document.addEventListener("DOMContentLoaded", function(){
        var passwordInput = document.getElementById("password");
        var showPasswordIcon = document.getElementById("showPassword");
        var hidePasswordIcon = document.getElementById("hidePassword");
        
        var confirmPasswordInput = document.getElementById("confirmPassword");
        var showConfrimPasswordIcon = document.getElementById("showConfrimPassword");
        var hideConfrimPasswordIcon = document.getElementById("hideConfrimPassword");

        const modal = document.getElementById("customAlert");
        modal.style.display = "none";
        confirmPasswordInput.type = "password";
        showConfrimPasswordIcon.style.display = "none";
        hideConfrimPasswordIcon.style.display = "block";

        passwordInput.type = "password"; 
        showPasswordIcon.style.display = "none";
        hidePasswordIcon.style.display = "block";   

        showPasswordIcon.addEventListener("click", function(){
            passwordInput.type = "password";
            showPasswordIcon.style.display  = "none";
            hidePasswordIcon.style.display  = "block";
         });

         hidePasswordIcon.addEventListener("click", function(){
             passwordInput.type = "text";
             showPasswordIcon.style.display = "block";
             hidePasswordIcon.style.display = "none";
         });

         showConfrimPasswordIcon.addEventListener("click", function(){
             confirmPasswordInput.type = "password";
             showConfrimPasswordIcon.style.display = "none";
             hideConfrimPasswordIcon.style.display = "block";
         });

         hideConfrimPasswordIcon.addEventListener("click", function(){
             confirmPasswordInput.type = "text";
             showConfrimPasswordIcon.style.display = "block";
             hideConfrimPasswordIcon.style.display = "none";
         });


         document.querySelector("form").addEventListener("submit", function (event) {
            if (passwordInput.value !== confirmPasswordInput.value) {
                modal.style.display = "block";
                setTimeout(function() {
                    modal.style.display = "none";
                  }, 5000);
                event.preventDefault();
            }
    
        });

    });
   </script> 
{% endblock content %}

</body>
</html>